.light {
  --background-color: #fdf8c8;
  --background-color-opacity5: hsla(0, 0%, 100%, 0.05);
  --background-color-opacity50: hsla(0, 0%, 100%, 0.5);
  --background-color-opacity60: hsla(0, 0%, 100%, 0.6);
  --background-color-opacity70: hsla(0, 0%, 100%, 0.7);
  --background-color-opacity90: hsla(0, 0%, 100%, 0.9);
  --background-color-opacity100: hsla(0, 0%, 100%, 1);
}

.dark {
  --background-color: #1a1d21;
  --background-color-opacity5: hsla(0, 0%, 0%, 0.05);
  --background-color-opacity20: hsla(0, 0%, 0%, 0.2);
  --background-color-opacity50: hsla(0, 0%, 0%, 0.5);
  --background-color-opacity60: hsla(0, 0%, 0%, 0.6);
  --background-color-opacity70: hsla(0, 0%, 0%, 0.7);
  --background-color-opacity90: hsla(0, 0%, 0%, 0.9);
  --background-color-opacity100: hsla(0, 0%, 0%, 1);
}
