.light {
  --color: #fff48c;
  --color-dark: #74500e;
  --color-active: var(--color-dark);
  --color-hover: rgba(231, 220, 124, 0.4);

  --text-color: hsl(0, 0%, 0%);
  --text-color-opacity5: hsla(0, 0%, 0%, 0.05);
  --text-color-opacity30: hsla(0, 0%, 0%, 0.3);
  --text-color-opacity50: hsla(0, 0%, 0%, 0.5);
  --text-color-opacity70: hsla(0, 0%, 0%, 0.7);
  --text-color-opacity90: hsla(0, 0%, 0%, 0.9);

  --background-color: #fdf8c8;
  --background-color-opacity5: hsla(0, 0%, 100%, 0.05);
  --background-color-opacity50: hsla(0, 0%, 100%, 0.5);
  --background-color-opacity60: hsla(0, 0%, 100%, 0.6);
  --background-color-opacity70: hsla(0, 0%, 100%, 0.7);
  --background-color-opacity90: hsla(0, 0%, 100%, 0.9);
  --background-color-opacity100: hsla(0, 0%, 100%, 1);

  --actionbar-background-color-opacity70: hsla(54, 96%, 89%, 0.7);

  --icon-light-invert: invert(100%);
  --icon-dark-invert: invert(0%);

  --section-fursona-header-background-color: rgb(180, 231, 224);
  --section-fursona-background-color: #5ba097;
  --section-fursona-text-color: rgb(2, 32, 28);

  --cheese-color: #f6e97756;
  --cheese-color-pfp: var(--cheese-color);
}

.dark {
  --color: #b6862d;
  --color-dark: #3a2807;
  --color-active: var(--text-color);
  --color-hover: rgba(69, 68, 65, 0.4);

  --text-color: hsl(0, 0%, 100%);
  --text-color-opacity5: hsla(0, 0%, 100%, 0.05);
  --text-color-opacity50: hsla(0, 0%, 100%, 0.5);
  --text-color-opacity70: hsla(0, 0%, 100%, 0.7);
  --text-color-opacity90: hsla(0, 0%, 100%, 0.9);

  --background-color: #1a1d21;
  --background-color-opacity5: hsla(0, 0%, 0%, 0.05);
  --background-color-opacity20: hsla(0, 0%, 0%, 0.2);
  --background-color-opacity50: hsla(0, 0%, 0%, 0.5);
  --background-color-opacity60: hsla(0, 0%, 0%, 0.6);
  --background-color-opacity70: hsla(0, 0%, 0%, 0.7);
  --background-color-opacity90: hsla(0, 0%, 0%, 0.9);
  --background-color-opacity100: hsla(0, 0%, 0%, 1);

  --actionbar-background-color-opacity70: hsla(0, 0%, 0%, 0.7);

  --icon-light-invert: invert(0%);
  --icon-dark-invert: invert(100%);

  --section-fursona-header-background-color: rgb(56, 80, 77);
  --section-fursona-background-color: rgb(41, 58, 56);
  --section-fursona-text-color: var(--text-color);

  --cheese-color: hsla(0, 0%, 0%, 0.15);
  --cheese-color-pfp: var(--background-color-opacity70);
}

@media (min-width: 600px) {
  :root {
    font-size: 1.2rem;
  }
}

* {
  text-overflow: clip;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  display: flex;
  flex-direction: column;
}
span,
p {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
  white-space: pre-line;
}
button {
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
}
