@import './css/primary-color.css';
@import './css/background-color.css';
@import './css/text-color.css';

@import './css/green-color.css';
@import './css/orange-color.css';
@import './css/red-color.css';

.light {
  --primary-text-color: var(--primary-color-600);

  --actionbar-background-color-opacity70: hsla(54, 96%, 89%, 0.7);

  --icon-light-invert: invert(100%);
  --icon-dark-invert: invert(0%);

  --cheese-color: var(--primary-color-200);
  --cheese-color-pfp: var(--cheese-color);
}

.dark {
  --primary-text-color: var(--text-color);

  --actionbar-background-color-opacity70: hsla(0, 0%, 0%, 0.7);

  --icon-light-invert: invert(0%);
  --icon-dark-invert: invert(100%);

  --cheese-color: hsla(0, 0%, 0%, 0.5);
  --cheese-color-pfp: var(--background-color-opacity70);
}

@media (min-width: 600px) {
  :root {
    font-size: 1.2rem;
  }
}

* {
  text-overflow: clip;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  display: flex;
  flex-direction: column;
}
span,
p {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
  white-space: pre-line;
}
button {
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
}
